$clr-very-dark-gray: hsl(0, 0%, 17%);
$clr-dark-gray: hsl(0, 0%, 59%);
$clr-white: hsl(0,0%,98%);

$fs-small: 10px;
$fs-normal: 18px;
$fs-large: 27px;

$fw-thin: 400;
$fw-normal: 500;
$fw-semi-bold: 700;
$fw-bold: 800;